<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHL AI Assessment Recommender</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <div class="header">
        <h1>🤖 SHL AI Assessment Recommender</h1>
        <p>Find the best SHL assessments using AI</p>
    </div>

    <div id="chat-box">

        <div class="bot message">
            👋 Hello! Tell me the role you're hiring for.
        </div>

    </div>

    <div class="input-area">

        <input
            id="user-input"
            type="text"
            placeholder="Example: Hire a Python Backend Developer"
        >

        <button id="send-btn">
            Send
        </button>

    </div>

</div>

<script src="/static/script.js"></script>

</body>
</html>